{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Добавить напиток</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.15.22/css/uikit.min.css" />
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <div class="uk-container">
    <h2 class="uk-heading-line uk-text-center"><span>Добавить напиток</span></h2>
    <form method="post" class="uk-form-stacked">
      {% csrf_token %}
      {{ form.as_ul }}
      <div class="uk-text-center uk-margin">
        <button type="submit" class="uk-button uk-button-primary uk-button-large">Сохранить</button>
      </div>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.15.22/js/uikit.min.js"></script>
</body>
</html>
